.shop {

    width: 100%;
    height: 400px;
    filter: brightness(30%);
}

.imgData h3 {

    position: absolute;
    top: 250px;
    left: 570px;

}

.imagecard {

    border: 1px solid #808080;
    border-radius: 5px;
    padding: 5px;
}

.starrating {

    margin-left: 150px;
}

.price {

    margin-left: 150px;
}

.category {

    margin-left: 100px;
}

.p_description {

    margin-left: 150px;
}

.carttext {

    width: 90px;
    margin-right: 230px;
}

button {

    background-color: #0F3460;
    color: white;
    border: 1px solid #0F3460;
    border-radius: 5px;
    height: 40px;
    margin-right: 230px;
}